@using MVC_20211129078_OZANUYSAL.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_20211129078_OZANUYSAL</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_20211129078_OZANUYSAL.styles.css" asp-append-version="true" /> *@
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Corona/dist/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Corona/dist/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Corona/dist/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Corona/dist/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Corona/dist/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Corona/dist/assets/images/favicon.png" />
</head>
<body style="background-image:url(https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg)">
    <header style="background-color:rgb(25, 28, 36)">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="left:0px !important;">
            
            <div class="container-fluid" style="justify-content:space-between">
                <a asp-controller="Home" asp-action="Index"><img src="/assets/images/logo2.png" alt="logo"></a>
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">MVC_20211129078_OZANUYSAL</a> *@
               
                <div class="collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                       @*  <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="min-height:87vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MVC_20211129078_OZANUYSAL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
